.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
  }

.button {
    height: 34px;
    background-color: transparent;
    color: inherit;
    border: 1px solid #fff;
    font-size: inherit;
    font-family: inherit;
}

.button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px solid white;
    outline-offset: 1px;
}

.button:active {
    background-color: #545050;
    text-decoration: none;
}